<header class="row p-3 bg-success">
  <div class="col-4"></div>
  <div class="col-4">
    <div class="list-group list-group-horizontal justify-content-center">
      <div class="pl-5">
        <a class="text-decoration-none text-light me-5 h4" routerLink=""
          >Início</a
        >
        <a class="text-decoration-none text-light me-5 h4" routerLink="post"
          >Posts</a
        >
        <a class="text-decoration-none text-light me-5 h4" routerLink="about"
          >Sobre</a
        >
      </div>
    </div>
  </div>
  <div class="col-4"></div>
</header>
